<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Tracker</title>
</head>

<body>
    <h1>Job Application Tracker: </h1>
    
    <ul class="jobTitles">
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].job %></span>
                <span class='completed'><%= items[i].role %></span>
                <span class='completed'><%= items[i].date %></span>
                <span class='completed'><%= items[i].status %></span>
                <span class='completed'><%= items[i].notes %></span>
                <span class='completed'><%= items[i].spark %></span>
            <% }else{ %>
                <span><%= items[i].job %></span>
                <span><%= items[i].role %></span>
                <span><%= items[i].date %></span>
                <span><%= items[i].status %></span>
                <span><%= items[i].notes %></span>
                <span><%= items[i].spark %></span>
            <% } %>    
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>
    <h2>Left to Apply Reach Out To: <%= left %></h2>

    <h2>Add A Position:</h2>

    <form action="/addjob" method="POST">
        <input type="text" placeholder="Company" name="jobTitle">
        <input type="text" placeholder="Role" name="jobRole">
        <input type="text" placeholder="Date Applied" name="jobDate">
        <input type="text" placeholder="Status" name="jobStatus">
        <input type="text" placeholder="Notes" name="jobNotes">
        <input type="text" placeholder="Spark" name="jobSpark">
        <input type="submit">
    </form>

    <script src='js/main.js'></script>
</body>

</html>