<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Tracker</title>
</head>

<body>
    <h1>Job Application Tracker: </h1>

            <table>
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Role</th>
                        <th>Date Applied</th>
                        <th>Status</th>
                        <th>Notes</th>
                        <th>Spark</th>
                    </tr>
                </thead>
                <tbody class="jobTitles">
                <% for(let i=0; i < items.length; i++) {%>
                    <tr class="item">
                        <% if(items[i].completed === true) {%>
                        <td class='completed'><%= items[i].job %></td>    
                        <td class='completed'><%= items[i].role %></td>
                        <td class='completed'><%= items[i].date %></td>
                        <td class='completed'><%= items[i].status %></td>
                        <td class='completed'><%= items[i].notes %></td>
                        <td class='completed'><%= items[i].spark %></td>
                        <% }else{ %>
                        <td ><%= items[i].job %></td>
                        <td ><%= items[i].role %></td>
                        <td ><%= items[i].date %></td>
                        <td ><%= items[i].status %></td>
                        <td ><%= items[i].notes %></td>
                        <td ><%= items[i].spark %></td>
                        <% } %>    
                        <td class='fa fa-trash'></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>

    <h2>Left to Apply Reach Out To: <%= left %></h2>

    <h2>Add A Position:</h2>

    <form action="/addjob" method="POST">
        <input type="text" placeholder="Company" name="jobTitle">
        <input type="text" placeholder="Role" name="jobRole">
        <input type="text" placeholder="Date Applied" name="jobDate">
        <input type="text" placeholder="Status" name="jobStatus">
        <input type="text" placeholder="Notes" name="jobNotes">
        <input type="text" placeholder="Spark" name="jobSpark">
        <input type="submit">
    </form>

    <script src='js/main.js'></script>
</body>

</html>